body {
background-color: #080b3a;
background: -webkit-linear-gradient(black, #191919, orange,black); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(black, #191919, orange,black); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(black, #191919, orange, black); /* For Firefox 3.6 to 15 */
background: linear-gradient(black, #191919 orange,black); /* Standard syntax */
color: black;
background-size: cover;
background-position: fixed;

}

h1 {
   font-size: 6em;
   font-family: 'Griffy', cursive;
   color: orange;
   text-shadow: 3px 3px 3px black;
}



i {
	
}

#menu {
	background-color: transparent;
	color: white;
}
.menu-items  {
	font-size: 2em;
	color: yellow;
}

.icons {
	font-size: 2em;
}
.navbar-static-top {
	border-style: none;
}

#points {
	display: inline-block;
}

.cont-big {
	width: 620px;
	height: 620px;
	padding-left: 30px;
	padding-top: 30px;
	margin-top: 10px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cont-small {
	width: 110px;
	height: 110px;
	border-radius: 5px;
	margin: 1px;
	background-color: black;
	float: left;
	text-align: left;
	opacity: 0.9;
}

#creepy-tree {
	position:absolute;
	left:50%;
	top:50%;
	z-index:-1;
	width: 700px;
}

.btn {
	background-color: orange;
	color: black;
	border-color: black;
	border-width: 3px;
}

#moon {
	font-size: 3em;
	position: absolute;
}

.info {
	font-size: 6em;
	background-color: orange;
	border-radius: 5px;
	height: 620px;
	opacity: 0.8;
	padding-top: 200px;
	position: absolute;
	text-align: center;
  	left: 0;
  	margin: 0 auto;
  	overflow: hidden;
  	right: 0;
  	top: 15px;
  	top: auto;
  	width: 620px;
  	z-index: 1;
   	color: black;
   	font-family: 'Griffy', cursive;
   	visibility: hidden;
}

footer {
	color: white;
}